<section>

    <div class="container" >    
        <br>
        <h1>Compléter l'utilisateur</h1>
        <br>
        <tr>
            <td> id : <input type="number"  [(ngModel)]="user.id"> </td>
            <td> Name : <input type="string"  [(ngModel)]="user.name"> </td>
            <td> Salary : <input type="number"  [(ngModel)]="user.salary"> </td>
        </tr> 
        <div>
            <td><button type="button" class="btn btn-success" (click)="onClick()">Test</button></td>
        </div> 
        <br>     
    </div>
</section>